 @import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

body{
    display: grid;
	place-items: center;
	font-family: 'Helvetica Neue', sans-serif;;
	background-color: aliceblue;
	height: 100%;
	overflow-y: hidden;
    
	
}
.container{
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	width: 375px;
	height: 100vh;
	border-radius: 5px;
}
.header{
	background-color: #FFFC00;
	width: 375px;
	height: 88px;
}
.header-icon{
	position: relative;
}
.header-icon img{
	position: absolute;
	right: 15px;
	transform: translateY(28%);
}
.body{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.body h2{
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 500;
	margin: 3rem auto 2.5rem auto;
}
#google{
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 400;
	color:#FFFC00;
	background-color: #000000;
    padding: 0.8rem 2.5rem 0.8rem 2.5rem;
	border-radius: 50px;
	border-style: none;
}
h6{
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 400;
}
.alone p{
	color: #BBBBBB;
	line-height: 3.5;
	margin-top: -10px;
    font-family: 'Helvetica Neue', sans-serif;
	font-weight: 400;
    font-size: 18px;
    
}
#username{
	margin-bottom: 2rem;
}
#username, #key {
	border: none;
	outline: none;
	border-bottom: 1px solid black;
	align-self: flex-start;
	background-color: transparent;
	width: 250px;
	margin-left: 60px;
}
#username::placeholder,#key::placeholder{
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 400;
	color: #BBBBBB;
	font-size: xx-small;
	
}
.forgot{
	align-self: flex-end;
	margin: 0.5rem 3.83rem;
}
.forgot p{
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 400;
	font-size: xx-small;
	color: #0D46D9;
}
#LogIn {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 400;
	color: #FFFFFF;
	background-color: #BBBBBB;
	padding: 0.8rem 5rem 0.8rem 5rem;
	margin: 2.5rem auto 1rem;
	border-radius: 50px;
	border-style: none;
	font-size: 1rem;
}
#LogIn:hover{
	color: #000000;
	background-color: #FFFC00;
	cursor: pointer;
}
.signUp{
	font-size: x-small;
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 400;
}
.no-bold{
	color: #626262;
}
